.page {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.grid {
  --cell-size: 64px;

  height: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--cell-size));
  gap: 16px;

  & > :nth-child(n) {
    width: var(--cell-size);
    height: var(--cell-size);

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-gray-400);
    border-radius: 8px;

    cursor: pointer;
  }

  .loader {
    border: none;
    cursor: default;
  }
}