.modal {
  min-width: 420px;
  height: 752px;
  max-height: calc(100vh - 64px);
  overflow: hidden;

  .content {
    flex: 1 0 0;
    margin-right: -20px;
    padding-right: 20px;
    overflow: hidden;
  }
}