.loader {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.ingredientsBlock {
  margin-bottom: 32px;
}

.needResourcesBlock {
  margin-bottom: 32px;

  .needResourcesHeader {
    display: flex;
    align-items: center;

    .viewSwitch {
      margin-left: 24px;
      display: flex;
      align-items: center;
      gap: 6px;

      & :global(.skb_switch) {
        background: var(--color-switch-bg);
      }
    }
  }

  .needResourcesList {
    margin-top: 8px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
