.nodeLabel {
  display: flex;
  align-items: center;
  gap: 8px;

  .nodeActionsBtns {
    display: flex;
    gap: 8px;
    opacity: 0;
    transition: opacity 0.2s;

    .currentAmount {
      margin-left: 8px;
      color: var(--color-green-800);
      font-weight: bold;
    }

    & > button {
      height: 20px;
      padding: 2px 6px;

      //border-radius: 50%;

      & > svg {
        width: 12px;
        height: 12px;
      }
    }
  }

  .needAmount {
    color: var(--color-orange-600);
    font-weight: bold;
  }

  &:hover {
    .nodeActionsBtns {
      opacity: 1;
    }
  }
}