.tree {

}

.node {
  padding: 4px 0;
  display: flex;
  align-items: center;
  gap: 8px;

  .nodeToggle {
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    --svg-color: black;

    & > svg {
      width: 16px;
      height: 16px;
    }
  }
}

.children {

}
